@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 105px 1fr 105px;
    background-repeat: no-repeat !important;
    background: linear-gradient(100deg, #3f56f0, #3fc0de);
}

.font {
    color: white;
    font-size: 17px;
    font-family: "Montserrat", system-ui;
}

a {
    text-decoration: none;
    color: white;
}

.defaultRow {
    display: flex;
    padding: 40px 90px;
    justify-content: center;
}

header {
    justify-content: space-between !important;
}

.menuList {
    display: flex;
    grid-gap: 45px;
}

.headerButton {
    background: inherit;
    width: 135px;
    height: 42px;
    border-color: white;
    margin: -10px;
    border-radius: 7px;
    border-style: ridge;
    border-width: 1.5px;
}

section {
    width: 100%;
    align-items: center;
    padding: 0 !important;
    justify-content: space-between !important;
}

button {
    font-family: "Montserrat", system-ui;
}

.sectionButton {
    height: 40px;
    width: 180px;
    border-radius: 20px;
    color: white;
    border: none;
}

.ctaButton {
    letter-spacing: 1px;
    text-transform: uppercase;
    background: rgb(62 203 75);
}

.registerButton {
    width: 100%;
    background: rgb(47 131 255);
    box-shadow: 0px 7px 9px 0 rgb(47 131 255 / 40%);  
    font-size: 16px;
}

.formContainer {
    background: white;
    padding: 40px;
    box-shadow: 0 0 19px 1px rgb(0 0 0 / 40%);
    min-width: 305px;
    border-radius: 4px;
    max-height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 15px;
}

form {
    display: flex;
    flex-direction: column;
    grid-gap: 13px;
}

.formField {
    border: none;
    background: rgb(242 242 242);
    padding: 13px;
    border-radius: 4px;
    font-family: "Montserrat", system-ui;
}

.cta {
    max-width: 725px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

h2 {
    font-weight: 400;
    font-size: 72px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.8;
}